body{

background:#080808;

color:white;

font-family:Arial;

text-align:center;

}



.login-box,
#dashboard{

background:#181818;

padding:30px;

margin:50px auto;

width:350px;

border-radius:10px;

}



input,
textarea,
select{

width:90%;

padding:12px;

margin:10px;

}



button{

background:#e50914;

color:white;

border:none;

padding:12px 25px;

cursor:pointer;

}



.hidden{

display:none;

}



.card{

background:#222;

padding:15px;

margin:10px;

}
